.page-title{

margin: 40px auto 5px;
padding-right: 10px;
width: 80%;
font-size: 30pt;
font-weight: bold;
color: #8E3200;


}

h2{
    
margin-top: 5px;
margin-right: auto;
margin-left: auto;
margin-bottom: 25px;
padding-left: 10px;
width: 80%;
font-size: 15pt;
color: #8E3200;


    
}

